{% extends "base.html" %} {% block title%}Sign up{% endblock %} {% block
content%}

<form method="POST" style="padding: 10% 25%;">
    <h3 align="center">Adauga o disciplina</h3>
    <div class="form-group">
        <label for="nume">Nume</label>
        <input type="text" class="form-control" id="nume" name="nume" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <label for="prof_curs">Alege profesorul care v-a preda cursul</label>
        <SELECT name="profesor_curs">
            {% for p in profesori %}
            <OPTION value={{p.id}}>{{p.first_name + " " + p.last_name}}</option>
            {% endfor %}
        </SELECT>
    </div>
    <div class="form-group">
        <label for="prof_lab">Alege profesorul care v-a preda laboratorul</label>
        <SELECT name="profesor_lab">
            {% for p in profesori %}
            <OPTION value={{p.id}}>{{p.first_name + " " + p.last_name}}</option>
            {% endfor %}
        </SELECT>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}