{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="events-container">
    <div class="titlu-events">Events</div>

    <div class="event-elem-container">
        {% for event in events %}
        <a class="event-element" href="{{ url_for('views.updateEvent',event_id =  event.Id ) }}" style="text-decoration: none;">
            <div class="event-title">{{ event.Name }}</div>
            <div class="event-info">
                <div class="info-item"><strong>Start Date:</strong> {{ event.Start_Date }}</div>
                <div class="info-item"><strong>End Date:</strong> {{ event.End_Date }}</div>
                <div class="info-item"><strong>Description:</strong> {{ event.Description }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}