{% extends "base.html" %} {% block title%}Student Info{% endblock %} {% block content%}

<div class="background">
    <div class="student-info-container">
        <div class="top-info">
            <div class="info-salut">Salut</div>
        </div>
        <div class="shadow-container">
            <div class="bottom-info">
                <div class="info-row">
                    <div class="info-element">Nota Curs: {{ disciplina.nota_curs}}</div>
                    <div class="info-element">Serie BI/CI: {{disciplina.nota_curs}}</div>
                    <div class="info-element">Data nastere: {{disciplina.nota_curs}}</div>
                </div>
                <div class="info-row">
                    <div class="info-element">An studiu: {{ disciplina.nota_curs}}</div>
                    <div class="info-element">Grupa: {{ disciplina.nota_curs}}</div>
                    <div class="info-element">Nr. matricol: {{disciplina.nota_curs}}</div>
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock %}