{% extends "base.html" %} {% block title%}Sign up{% endblock %} {% block
    content%}
    
    <form method="POST" style="padding: 10% 25%;">
        <h3 align="center">Modifica un eveniment</h3>
        <div class="form-group">
            <label for="nume">Nume</label>
            <input type="text" class="form-control" id="nume" name="nume" placeholder="Numele evenimentului" value= {{ data.Name }} />
            <label for="start_date">Data inceperii</label>
            <input type="datetime" class="form-control" id="start_date" name="start_date" placeholder="Data inceperii" value= {{ data.Start_Date }} />
            <label for="end_date">Data incheierii</label>
            <input type="datetime" class="form-control" id="end_date" name="end_date" placeholder="Data incheierii" value= {{ data.End_Date }} />
            <label for="description">Descrierea</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Descrierea evenimentului" value= {{ data.Description }} />
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" value="DELETE" name="delete" class="btn btn-danger" style="float:right">Delete</button>
    </form>
    {% endblock %}