{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="users-container">
    <div class="titlu-users">Users</div>

    <div class="user-elem-container">
        {% for user in users %}
        <a class="user-element" href="/user-info" style="text-decoration: none;">
            <div class="user-name">{{ user.Name }}</div>
            <div class="user-info">
                <div class="info-item"><strong>Email:</strong> {{ user.Email }}</div>
                <div class="info-item"><strong>Year:</strong> {{ user.Year }}</div>
                <div class="info-item"><strong>Semester:</strong> {{ user.Semester }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}